@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body
{
    
   margin: 0;
   padding: 0;
   background-color:#ECFDF5;
   font-family: 'Montserrat', sans-serif;
}

.navigation ul{
    list-style: none;
    text-align: right;
}

.navigation li
{
    padding: 0rem 0.5rem;
    display: inline;
}

.navigation
{
    padding-top: 2rem;
    color:white;
    background-color: #10B981;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.navigation a
{
    color:white;
    text-decoration: none;
}

.navigation li a:hover
{
    
    color: black;
    font-weight: bold;
}


.navigation .nav-brand
{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link-active
{
    font-weight: bold;
}

.image-container
{
    padding:2rem;
   
}

.image-container .image 
{
    max-width: 350px;
    display: block;
   margin: auto;
}
.heading
{
    text-align: center;
    padding-top: 1rem;
   
}

.heading h3
{
    font-size: 2rem;
}
.heading p
{
    font-size: 1rem;
}

.three 
{
    padding-top: 1rem;
    padding-left:1.5rem;
    background-color: #A7F3D0;
    text-align: left;
    padding-bottom: 1.5rem;
}

.four
{
    padding-top: 1rem;
    padding-left:1.5rem;
   background-color: #E5E7EB;
    text-align: left;
    padding-bottom: 1.5rem;
}

.five
{
    padding-top: 1rem;
    padding-left:1.5rem;
    background-color: #A7F3D0;
    text-align: left;
    padding-bottom: 1.5rem;
}
.three h3, .four h3 ,.five h3
{
    font-weight: bold;
}

.three p , .four p , .five p
{
    font-size: 1.1rem;
  
    
}

.three button , .four button  , .five button
{
    background:#059669;
    color:whitesmoke;
    font-size: 1rem;
    border:0;
    padding:0.9rem;
    cursor: pointer;
    padding-bottom: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

footer
{
    padding-top: 1rem;
    background-color: #EEF2FF;
    text-align: center;
    padding-bottom: 1rem;
}

footer ul
{
    list-style: none;
    
}
footer ul li
{
    display: inline;
    
    padding-right: 0.5rem;
}

footer ul li a 
{
    text-decoration: none;
    color:black;
    font-weight:bold;
}