@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body
{
    
   margin: 0;
   padding: 0;
   background-color:#ECFDF5;
   font-family: 'Montserrat', sans-serif;
}

.navigation ul{
    list-style: none;
    text-align: right;
}

.navigation li
{
    padding: 0rem 0.5rem;
    display: inline;
}

.navigation
{
    padding-top: 2rem;
    color:white;
    background-color: #10B981;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.navigation a
{
    color:white;
    text-decoration: none;
}

.navigation li a:hover
{
    
    color: black;
    font-weight: bold;
}


.navigation .nav-brand
{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link-active
{
    font-weight: bold;
}


.image-container 
{
    padding:2rem;
   
}

.image-container .image 
{
    max-width: 350px;
    display: block;
   margin: auto;
   border-radius:10px;
   padding:2rem;
}
.heading
{
    text-align: center;
    padding-top: 1rem;
   
}

.heading h3
{
    font-size: 1.5rem;
}
.heading p
{
    font-size: 1rem;
    
}
.three{
    background-color:#FDF2F8;
    text-align: center;
    padding-bottom: 1rem;
}
    

.three img
{
    max-width: 350px;
    display: block;
   margin: auto;
   border-radius:10px;
   padding:2rem;
   border-radius:10%;
}
.three h3
{
    text-align: center;
    font-size: 1.2rem;
    padding-top:1.3rem;
   
}





.three button 
{
    background:black;
    color:whitesmoke;
    font-size: 1rem;
    border:0;
    padding:1rem;
    cursor: pointer;
   
    font-weight: bold;
    border-radius: 10px;
   
}

.four{
    background-color:#A7F3D0;
    text-align: center;
    padding-bottom: 1rem;
}

.four button 
{
    background:black;
    color:whitesmoke;
    font-size: 1rem;
    border:0;
    padding:1rem;
    cursor: pointer;
   
    font-weight: bold;
    border-radius: 10px;
}


.four img
{
    max-width: 350px;
    display: block;
   margin: auto;
   border-radius:10%;
   padding:2rem;
}
.four h3
{
    text-align: center;
    font-size: 1rem;
    padding-top:1.3rem;
   
}

footer
{
    padding-top: 1rem;
    background-color:#FDF2F8;
    text-align: center;
    padding-bottom: 1rem;
}

footer ul
{
    list-style: none;
    
}
footer ul li
{
    display: inline;
    
    padding-right: 0.5rem;
}

footer ul li a 
{
    text-decoration: none;
    color:black;
    font-weight:bold;
}