@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecfdf5;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.navigation ul {
  list-style: none;
  text-align: right;
}

.navigation li {
  padding: 0rem 0.5rem;
  display: inline;
}

.navigation {
  padding-top: 2rem;
  color: white;
  background-color: #10b981;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation li a:hover {
  color: black;
  font-weight: bold;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .link-active {
  font-weight: bold;
}

.image-container {
  padding: 2rem;
}

.image-container .image {
  max-width: 350px;
  display: block;
  margin: auto;
}
.heading {
  text-align: center;
  padding-top: 1rem;
}

.heading h3 {
  font-size: 2rem;
}
.heading p {
  font-size: 1rem;
}

.two {
  padding-top: 1rem;
  background-color: #a7f3d0;
  text-align: center;
  padding-bottom: 1.5rem;
}
.two h4 {
  color: #064e3b;

  padding: 0 0.5rem;
}
.projects {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.projects img {
  padding-top: 1rem;
  max-width: 350px;
  display: block;
  margin: auto;
}
.projects h2 {
  font-size: 1.7rem;
}

.projects h1 {
  padding-top: 1rem;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ecfdf5;
}

.container {
  width: 1200px;
  display: grid;
  height: 0 auto;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 0.2rem;
}

.box {
  background-color: #10b981;
  padding: 40px;
  color: #fff;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.container h1 {
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: #353348;
}

.container p {
  line-height: 18px;
  letter-spacing: 0.015rem;
  margin-bottom: 20px;
}

.box button {
  background-color: black;
  text-decoration: none;
  outline: none;
  padding: 1rem;
  color: whitesmoke;
  border: 0;
  padding: 0.9rem;
  cursor: pointer;
  padding-bottom: 1rem;
  font-weight: bold;
  border-radius: 10px;
}
.action-btns {
  width: 500px;
  margin: 0 auto;
}

.blogs {
  padding-top: 1rem;
  background-color: #a7f3d0;
  text-align: center;
  padding-bottom: 1.5rem;
}

.blogs p {
  color: #064e3b;

  font-style: italic;
  padding: 2rem;
}

.blogs button {
  background: #059669;
  color: whitesmoke;
  font-size: 1rem;
  border: 0;
  padding: 0.9rem;
  cursor: pointer;
  padding-bottom: 1rem;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}
footer {
  padding-top: 1rem;
  background-color: #eef2ff;
  text-align: center;
  padding-bottom: 1rem;
}

footer ul {
  list-style: none;
}
footer ul li {
  display: inline;

  padding-right: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
